.paragraph-remote-video--video-width-full.paragraph-remote-video{
  .paragraph-remote-video-field-video__value{

    position:relative;
    height:0;
    padding-bottom:56.4%;

    .youtube-container{

      iframe{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
    }
  }
}

.paragraph-remote-video--video-width-720p.paragraph-remote-video{
  .paragraph-remote-video-field-video__value{

    max-width:720px;

    margin:0 auto;

    .youtube-container{

      iframe {
        width: 106%;

      }
    }
  }
}


